@import url('https://fonts.googleapis.com/css2?family=Jura:wght@600&family=Monoton&display=swap');

/* rainbow background courtesy of Milan nohejl via codepen.io */

#rainbowBackground { 
    z-index: 2;
    position: sticky;
    top: 5px;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
  
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
        animation: rainbow 18s ease infinite;}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }

#title {
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 55px;
    margin: 35px 0 5px 0;
}

#codes {
    text-align: center;
    font-family: 'Jura', sans-serif;
    margin: 5px 0 10px 0;
    padding: 0 0 10px 0;
}

#colorDisplay {
    display: flex;
    width: 100%;
    height: 400px;
}

#colorBlockWhite {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 400px;
    background-color: black;
    font-family: 'Jura', sans-serif;
    color: white;
}

#colorBlockBlack {
    display: flex;
    justify-content: center;
    color: white;
    width: 50%;
    height: 400px;
    background-color: black;
    font-family: 'Jura', sans-serif;
}

#colorSelection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
    position: relative; top: -200px;
}

#colorInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
    position: relative; top: -225px;
}

.sliders {
    display: flex;
    flex-direction: column;
    width: 20%;
}

#colorBlock {
    background-color: rgb(0, 0, 0);
    height: 200px;
    width: 75%;
    margin: 0 0 0 0;
    position: relative; right: -12%; top: 115px;
    z-index: 1;

}

#rgbValue {
    display: flex;
    align-items: center;
}

#hexValue {
    display: flex;
    align-items: center;
}

.colorCodes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    margin: 25px 0 100px 0;
}

#rHolder {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 5px 0;
}

#gHolder {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 5px 0;
}

#bHolder {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 5px 0;
}

#aHolder {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 5px 0;
}

#rgbValue {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hexValue {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#allSliders {
    display: flex;
    justify-content: space-between;
    width: 78%;
}

#allCodes {
    display: flex;
    width: 96%;
}

#foregroundHeader {
    color: white;
    text-align: center;
    font-family: 'Jura', sans-serif;
}

.slideTitle {
    text-align: center;
    font-family: 'Jura', sans-serif;
}

.hexTitle {
    margin: 15px 0 0 0;
    font-family: 'Jura', sans-serif;
}

#hValB1 {
    margin: 5px 0 5px 0;
}

#hVal {
    margin: 5px 0 5px 0;
}

#hValB2 {
    margin: 5px 0 5px 0;
}

#rgbValuesB1 {
    margin: 5px 0 5px 0;
}

#rgbValues {
    margin: 5px 0 5px 0;
}

#rgbValuesB2 {
    margin: 5px 0 5px 0;
}

.rgbTitles {
    font-family: 'Jura', sans-serif;
}

.codeTitles {
    font-family: 'Jura', sans-serif;
}
